
         
          <div class="col-md-3">
            {{form.year|as_crispy_field}}

          </div>

          <div class="col-md-3">
            {{form.tribe|as_crispy_field}}

          </div>

          <div class="col-md-3">
            {{form.residence|as_crispy_field}}

          </div>

          <div class="col-md-3">
            {{form.next_kin|as_crispy_field}}

          </div>

          <div class="col-md-3">
            {{form.next_kin_residence|as_crispy_field}}

          </div>
          <div class="col-md-3">
            {{form.phone|as_crispy_field}}

          </div>

          <div class="col-md-3">
            {{form.payment_type|as_crispy_field}}

          </div>
          <div class="col-md-3">
            {{form.patient_type|as_crispy_field}}

          </div>
          <div class="col-md-3">
            {{form.service_time|as_crispy_field}}

          </div>
          <div class="col-md-3">
            {{form.opd|as_crispy_field}}

          </div>

        </div><!---mwisho wa inner row-->

